
.App {
  margin-left: 23rem;
  margin-top: 4rem;
  width: 40rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1a1717;
  color: #fff;
  padding-bottom: 1rem;
}

.button-31{
  width: 30rem;
    background-color: #1a1717;
    border-radius: 30px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding: 9px 20px 8px;
    text-align: center;
    width:18rem;
  }
  
  .button-31:hover,.butto-31:focus {
    opacity:.55;
  }

#file {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
  border-radius: 30px;
}
audio {
  
  width: 300px;
  margin: 10px;
}
